<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home | Your name</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>

<body>
<main role="main">
    <section class="text-center">
        <div class="container py-2 col-4">
            <tr>
                <h3 class="mt-auto mb-0">Hello, I'm</h3>
                <h1 th:text="${fullName}"></h1>
                <p class="lead" th:text="${description}"></p>
                <p>
                    <a th:href="${githubUrl}" class="btn btn-lg btn-outline-primary my-2">GitHub</a>
                    <a th:href="${linkedinUrl}" class="btn btn-lg btn-outline-primary my-2">LinkedIn</a>
                </p>
            </tr>
        </div>
    </section>

    <div id="carouselExampleDark" class="py-5 bg-light carousel carousel-dark slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <th:block th:each="i: ${#numbers.sequence(0, repositories.size - 1)}">
                <button type="button" data-bs-target="#carouselExampleDark" th:data-bs-slide-to="${i}"
                        th:class="${i == 0} ? active : ''"></button>
            </th:block>
        </div>

        <div class="carousel-inner">
            <div class="container">
                <tr th:each="repository : ${repositories}">
                    <div th:class="${repositories[0]} == ${repository} ? 'carousel-item active' : 'carousel-item'">
                        <div class="row">
                            <th:block th:each="i: ${#numbers.sequence(0, repository.size - 1)}">
                                <div class="col-md-4 d-flex align-items-stretch">
                                    <div class="card flex-fill">
                                        <div class="card-header text-center" th:text="${repository[i].name}"></div>
                                        <div class="card-body d-flex flex-column">
                                            <a th:href="${repository[i].htmlUrl}"
                                               class="btn btn-sm btn-block btn-outline-secondary my-2">GitHub Repository Link</a>
                                            <p class="card-text text-muted" th:text="${repository[i].description}"></p>
                                            <div class="d-flex mt-auto justify-content-between">
                                                <span class="badge bg-secondary"
                                                      th:text="${repository[i].language}"></span>
                                                <small class="text-muted"
                                                       th:text="${repository[i].getSimpleDate}"></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </tr>
            </div>
        </div>

        <!--    carousel control buttons    -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container px-4 py-2" id="hanging-icons">
        <h3 class="pb-2 border-bottom">Experience</h3>
        <div class="row g-4 py-4 row-cols-1 row-cols-lg-3">
            <th:block th:each="experience : ${experiences}">
                <div class="col d-flex align-items-start">
                    <div>
                        <h4 th:text="${experience.title}"></h4>
                        <p class="text-muted" th:text="${experience.getDescription}"></p>
                    </div>
                </div>
            </th:block>
        </div>
    </div>

    <footer class="py-2 mt-4 lead text-center border-top fixed-bottom bg-light">
        Copyright © 2022 A Bootstrap template for displaying your GitHub repositories!
    </footer>
</main>
</body>

</html>